ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li div{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li select{
    /*display: inline-block;*/
    color: black;
    text-align: center;
    position:relative;
    /*width: 100%;*/
    padding: 0px 0px;
    margin: 0 0 5px 10px;
    text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}




li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

body{
    position: relative;
    height: 100%;
}

#main_div{
    position: fixed; left: 0% ; right: 0%;
    overflow-y: scroll;
    overflow-x: scroll;
    resize: both;
    height: 100%;
}

#movies{
    position: relative;
    width: 100%;
    margin-top: 15%;
}

#musics{
    position: relative;
    width: 100%;
    margin-top: 3%;
}

div::-webkit-scrollbar{
    display: none;
}

img:active{
    filter:brightness(90%);
}

#div_1{
    background-color: white;
    position: relative;
    width : 100%;
    height: 10%;
}

#navigation_bar{
    background-color: whitesmoke;
    position: relative;
    width :100%;
    /*height: 5%;*/
}

#div_3{
    overflow-y: scroll;
    position: relative;
    height: 140%;
    width :100%;
}
#imdb_image{
    position: relative; top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    filter: blur(4px);
}

#movies_div{
    position: relative;
    /*top: 0;*/
    /*left: 0;*/
    margin-top: 1%;
    width: 100%;
    /*height: 25%;*/
    /*border-bottom: solid;*/
    border-bottom-width: 1px;
    /*border-color: gray;*/
}

#valuediv{
    position: relative;
    /*top: 0;*/
    /*left: 0;*/
    margin-top: 1%;
    /*width: 100%;*/
    /*height: 25%;*/
    /*border-bottom: solid;*/
    /*border-color: gray;*/
}

.vote{

}


.filmstate{
    font-size: 20px;
    margin-right: 10%;
    /*margin-left: 20%;*/
    background-color: white;

    /*border-bottom: solid;*/
    /*border-color: black;*/
    /*margin-left: 15%;*/
}

.filmstateinfo{
    background-color: white;
    float: left;
    position: relative;
    width: 100%;
    /*height: 100%;*/
    /*line-height: 100%;*/
}

.downloadvalue{
    position: relative;
    direction: rtl;
    /*right: 19px;*/
    /*width: 33%;*/
    /*height: 100px;*/
    margin-right: 10%;
    color: cadetblue;
}


.filmstateelemet {
    background-color: white;
    border-bottom: solid;
    border-width: 1px;
    border-bottom-color: black;

}

/*.uservalue{*/


/*}*/
.uservalue{
    background-color: yellow;
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    direction: rtl;
    /*margin-right:40%;*/
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    /*float: left;*/
}

.usergivingvaluetext{
    /*float: left;*/
    position: relative;
    /*width: 31%;*/
    background-color: yellow;
    /*height: 100px;*/
    margin-left: 100px;
    line-height: 100px;
    /*background-color: white;*/
    /*display: inline-block;*/
    text-align: center;
}

.filmstateinfopart{
    position:relative;
    /*height: 100%;*/
    /*height: 100px;*/
    /*margin-left: 10%;*/
    /*width: 33%;*/
}


.filmstateelemet:hover{
    background-color: white;
    border-bottom: solid;
    border-width: 1px;
    border-color: red;
}

.optionsul{
    background-color: white;
    position: relative;
    margin-top: 30px;
    /*width: 60%;*/
    /*background-color: red;*/
    float: right;
    /*padding: 10px 10px;*/
}

.listorgridmode{
    background-color: white;
    position: relative;
    margin-top: 30px;
    /*width: 60%;*/
    /*background-color: red;*/
    float: right;
    margin-right: 20%;

    /*margin: 0 0 30px 30px;*/
    /*margin: 0 0 5px 10px;*/
    /*padding: 10px 10px;*/

}

#options{
    /*background-color: red;*/
    /*position: relative;*/
    /*margin-top: 30px;*/
    /*width: 60%;*/
    /*background-color: red;*/
    /*float: right;*/
    /*margin-right: 20%;*/
    position: relative;
    /*width: 100%;*/
    /*margin-left: 20%;*/
    /*margin-right: 40%;*/
    /*height: 20%;*/
    /*background-color: yellow;*/
    /*top: 0;*/
    /*left: 0;*/
    margin-top: 1%;
    /*display: inline-block;*/
    /*text-decoration: none;*/
    width: 95%;
    /*height: 25%;*/
    /*border-bottom: solid;*/
    border-bottom-width: 1px;
    margin-right: 5%;
    background-color: red;
    /*border-color: aqua;*/
    /*border:solid;*/
    /*margin-right: 5%;*/
    /*border-color: gray;*/
}

select{
    font-size: large;
}

.question{
    position: relative;
    /*left: 4%;*/
    /*top: 22%;*/
    width: 50px;
    height: 50px;
    line-height: 40px;
    /*background-color: red;*/
    /*height: 3%;*/
    /*margin-top: 100px;*/
    margin-right: 15px;
    /*font-size: ;*/
    color:orange;
    /*font-size: large;*/
    /*display: block;*/
    /*border:solid;*/
    /*border-color: black;*/
    /*border-width: 1px;*/
}

.grid{
    position: relative;
    width: 50px;
    margin-right: 15px;
    /*left: 17%;*/
    /*top: 20%;*/
    /*width: 4%;*/
    /*height: 20%;*/
    /*border:solid;*/
    /*border-color: black;*/
    /*border-width: 1px;*/
}
/*.list{*/
    /*position: relative;*/
    /*/!*top: 20%;*!/*/
    /*/!*left: 12%;*!/*/
    /*width: 50px;*/

    /*/!*height: 20%;*!/*/
    /*/!*border:solid;*!/*/
    /*/!*border-color: black;*!/*/
    /*/!*border-width: 1px;*!/*/
/*}*/

.alllang{
    background-image: url("../img/down.png");
    background-position: 2px;
    background-size:10px;
    background-repeat:   no-repeat;
    position: relative;
    /*left: 81%;*/
    /*top: 20%;*/
    width: 150px;
    font-size: 20px;
    /*height: 24%;*/
    -webkit-appearance: none;
    direction: rtl;
    border-radius: 10px;
}

.release{
    background-image: url("../img/down.png");
    background-position: 2%;
    background-size:10px;
    background-repeat: no-repeat;
    position: relative;
    /*left: 65%;*/
    /*top: 20%;*/
    /*width: 140%;*/
    width: 150px;
    font-size: 20px;
    /*height: 24%;*/
    -webkit-appearance: none;
    direction: rtl;
    border-radius: 10px;
}

.type{
    background-image: url("../img/down.png");
    background-position: 2%;
    background-size:10px;
    background-repeat: no-repeat;
    position: relative;
    /*left: 49%;*/
    /*top: 20%;*/
    /*width: 140%;*/
    width: 150px;
    font-size: 20px;
    /*height: 24%;*/
    -webkit-appearance: none;
    direction: rtl;
    border-radius: 10px;
}
.resolution{
    background-image: url("../img/down.png");
    background-position: 2%;
    background-size:10px;
    background-repeat: no-repeat;
    position: relative;
    /*left: 33%;*/
    /*top: 20%;*/
    /*width: 140%;*/
    width: 170px;
    font-size: 20px;
    /*height: 24%;*/
    -webkit-appearance: none;
    direction: rtl;
    border-radius: 10px;
}

#radiogroup{
    position: relative;
    margin-left: 100px;
    display: inline-block;
    background-color: white;
    /*left: 4%;*/
    /*top: 0%;*/
    /*top: 22%;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*line-height: 40px;*/
    /*margin-top: 50px;*/
    /*margin-left: 100px;*/
    /*background-color: red;*/
    /*height: 3%;*/
    /*margin-top: 100px;*/
    /*margin-right: 15px;*/
    /*font-size: ;*/
    /*color:orange;*/
    /*font-size: large;*/
    /*display: block;*/
    /*border:solid;*/
    /*border-color: black;*/
    /*border-width: 1px;*/
}

.service_type{

}
.bluray{
    color: blue;
    left:92%;
    border-bottom: solid;
    /*position: relative;*/
    direction: rtl;
    margin-right: 4%;
    margin-left: 6%;
}

.downloadinfo{
    position:relative;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 43px;
    background-color: white;
    border-radius: 10px;
    border:solid;
    border-color: lightseagreen;
    /*display: inline-flex;*/
}

.quality{
    position:relative;
    /*border-bottom-left-radius: 9px;*/
    /*border-top-left-radius: 9px;*/
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    width:15%;
    height: 43px;
    background-color: lightseagreen;
    color: white;
    line-height: 40px;
    /*white-space: pre-line;*/
    /*vertical-align: middle;*/
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    white-space: normal;
}

.encoder{
    position:absolute;
    left: 15%;
    top: 0px;
    width:5%;
    height: 43px;
    background-color: white;
    color:lightseagreen;
    line-height: 40px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    white-space: normal;

}
.orginallang{
    position:absolute;
    top:0;
    left: 20%;
    width:10%;
    height: 43px;
    background-color: white;
    color: black;
    line-height: 40px;
    /*white-space: pre-line;*/
    /*vertical-align: middle;*/
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    white-space: normal;
}

.filmname{
    position:absolute;
    top:0;
    left: 30%;
    width:15%;
    height: 43px;
    background-color: white;
    color: black;
    line-height: 40px;
    /*white-space: pre-line;*/
    /*vertical-align: middle;*/
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    white-space: normal;
}

.wave{
    position:absolute;
    top:0;
    left:16%;
    width:20%;
    height: 90%;
}

.downloadrate{
    position:absolute;
    top:0;
    left:60%;
    width:20%;
    height: 90%;
    line-height: 40px;
    color: lightseagreen;
}


.flagicon{
    position:absolute;
    top:0;
    left: 70%;
    width:5%;
    height: 43px;
    background-color: white;
    color: black;
    line-height: 40px;
    /*white-space: pre-line;*/
    /*vertical-align: middle;*/
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    white-space: normal;
}


.downlodicon{
    position: absolute;
    left: 76%;
    top:0;
    width: 5%;
    height:43px;
    border-radius: 0;
    background-color: black;
}

.f{
    position: absolute;
    left: 81%;
    top:0;
    width: 5%;
    height:43px;
    border-radius: 0;
    background-color: black;
    color: white;
    line-height: 40px;
    /*white-space: pre-line;*/
    /*vertical-align: middle;*/
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    white-space: normal;
}

.downloadsize{
    position: absolute;
    left: 86%;
    top:0;
    width: 14%;
    height:43px;
    /*border-radius: 9px;*/
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: black;
    color: white;
    line-height: 40px;
    /*white-space: pre-line;*/
    /*vertical-align: middle;*/
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    white-space: normal;
}

.accounttype{
    position: absolute;
    left: 5%;
    top: 120%;
    width: 15%;
    height: 4%;
    -webkit-appearance: none;
}


#scroll_down{
    position: relative; top: -50%;
    left: 30%;
    width: 40%;
    height: 30%;
}

#description1{
    position: absolute; top: 75%;
    left: 20%;
    right: 40%;
    height: 10%;
    background-color: white;
    border:none;
    border-color: darkcyan;
    border-width: 2px;
    text-align: right;
}
#description2{
    position: absolute; top: 83%;
    left: 20%;
    right: 40%;
    height: 5%;
    background-color: white;
    border:none;
    border-color: darkcyan;
    color: blue;
    border-width: 2px;
    text-align: right;
}

#twitter{
    position: absolute; top: 76%;
    left: 65%;
    /*right: 5%;*/
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    /*filter:brightness();*/
}

#insta{
    position: absolute; top: 76%;
    left: 70%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

#tele{
    position: absolute; top: 76%;
    left: 75%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}
#google{
    position: absolute; top: 76%;
    left: 80%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

#search_icon{
    filter: brightness(95%);
    position: absolute;
    left: 10%;
    width: 5%;
    top: 20%;
    height: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background-position: center;
    background-size: cover;
    background-repeat:   no-repeat;
}

#search_icon:active{
    /*border:solid;*/
    filter: brightness(80%);
    /*border-color: darkgray;*/
    /*border-width: 1px;*/
}

#search_input{
    border: none;
    background-color: whitesmoke;
    position: absolute;
    left: 15%;
    width: 30%;
    top: 20%;
    height: 47%;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#search_input:focus{
    border:solid;
    border-width: 1px;
    border-color: darkgrey;
    filter:brightness(97%);
}


#notif_icon{
    position: absolute;
    left: 74%;
    width: 4%;
    top: 24%;
    height: 50%;
    background-color: white;
    border-radius: 50%;
}

#profile{
    position: absolute;
    left: 79%;
    width: 45px;
    top: 18%;
    height: 50%;
    border: solid;
    border-color: green;
    border-radius: 50%;
}
#login_button:active{
    filter: brightness(90%);
}


.w3-light-grey{
    color:#000!important;
    background-color:#f1f1f1!important
}
.w3-bar{
    width:100%;
    overflow:hidden;
    position: relative;
    left: 0%;right: 0%;
    height: 5%;
}
.w3-dropdown-click,.w3-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block;z-index:1}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.w3-check,.w3-radio{width:24px;height:24px;position:relative;top:6px}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}

.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}

/*#w3-button:hover {*/
/*color:#000!important;*/
/*background-color:#ccc!important*/
/*}*/