body{
    position: relative;
    height: 100%;
}

#main_div{
    position: fixed; left: 0% ; right: 0%;
    overflow-y: scroll;
    overflow-x: scroll;
    resize: both;
    height: 100%;
}
div::-webkit-scrollbar{
    display: none;
}

#div_1{
    background-color: white;
    position: relative; left: 0%;right: 0%;
    height: 20%;
}

#div_2{
    background-color: whitesmoke;
    position: relative; left: 0%;right: 0%;
    height: 5%;
}

#div_3{
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    position: relative; top: 0;
    left: 0;
    right: 0;
    height: 140%;
}
#imdb_image{
    position: relative; top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    filter: blur(4px);

}

#scroll_down{
    position: relative; top: -50%;
    left: 30%;
    width: 40%;
    height: 30%;
}

#description1{
    position: absolute; top: 75%;
    left: 20%;
    right: 40%;
    height: 10%;
    background-color: white;
    border:none;
    border-color: darkcyan;
    border-width: 2px;
    text-align: right;
}
#description2{
    position: absolute; top: 83%;
    left: 20%;
    right: 40%;
    height: 5%;
    background-color: white;
    border:none;
    border-color: darkcyan;
    color: blue;
    border-width: 2px;
    text-align: right;
}

#twitter{
    position: absolute; top: 76%;
    left: 65%;
    /*right: 5%;*/
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    /*filter:brightness();*/
}

#insta{
    position: absolute; top: 76%;
    left: 70%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

#tele{
    position: absolute; top: 76%;
    left: 75%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}
#google{
    position: absolute; top: 76%;
    left: 80%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

#search_icon{
    filter: brightness(95%);
    position: absolute;
    left: 10%;
    width: 5%;
    top: 65%;
    height: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background-position: center;
    background-size: cover;
    background-repeat:   no-repeat;
}

#search_icon:active{
    /*border:solid;*/
    filter: brightness(80%);
    /*border-color: darkgray;*/
    /*border-width: 1px;*/
}

#search_input{
    border: none;
    background-color: whitesmoke;
    position: absolute;
    left: 15%;
    width: 30%;
    top: 65%;
    height: 29%;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#search_input:focus{
    border:solid;
    border-width: 1px;
    border-color: darkgrey;
    filter:brightness(97%);
}


#blue_icon{
    position: absolute;
    left: 65%;
    width: 5%;
    top: 65%;
    height: 32%;
}

#login_button{
    border: none;
    position: absolute;
    left: 70%;
    width: 10%;
    top: 65%;
    height: 30%;
    border-radius: 10px;
    background-color: white;
}
#login_button:active{
    filter: brightness(90%);
}


.w3-light-grey{
    color:#000!important;
    background-color:#f1f1f1!important
}
.w3-bar{
    width:100%;
    overflow:hidden;
    position: relative;
    left: 0%;right: 0%;
    height: 5%;
}
.w3-dropdown-click,.w3-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block;z-index:1}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.w3-check,.w3-radio{width:24px;height:24px;position:relative;top:6px}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}

.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}

/*#w3-button:hover {*/
    /*color:#000!important;*/
    /*background-color:#ccc!important*/
/*}*/